<script>
    import { createEventDispatcher } from "svelte";
    import { POSSIBLE_COINS } from "./constants";
    import createVendingMachine from "./VendingMachineBuilder";

    export let productStockInitial = [
        {id: 1, cost: 55, display: "Coke", stock: 0},
    ];
    export let coinsStockInitial = POSSIBLE_COINS.map(
        (value) => ({value, stock: 0})
    );
    export let purchasedProducts = [];

    const dispatch = createEventDispatcher();
    let {
        productStockStore,
        coinsStockStore,
        insertedCoinsStore,
        vendingmachine,
        totalInsertedStore,
    } = createVendingMachine(productStockInitial, coinsStockInitial);

    let frontView = true;
    let refillQuantityProduct = 0;
    let refillQuantityCoins = 0;

    function selectProduct(productId) {
        try {
            const product = vendingmachine.selectProduct(productId);
            purchasedProducts = [...purchasedProducts, product];
        } catch (error) {
            dispatch("error", error);
        }
    }

    function toggleView() {
        frontView = !frontView;
    }

    function printCoinMoney(coinValue) {
        return coinValue >= 100 ? `${coinValue / 100} €` : `${coinValue} c`;
    }

    function printMoney(totalInserted) {
        return `${(totalInserted / 100).toFixed(2)} €`;
    }
</script>

<style lang="postcss">
    button {
        @apply border-0 rounded-lg;
    }
    button:disabled {
        @apply opacity-70 text-white cursor-not-allowed;
    }
</style>

<div class="flex-col w-full border-2 p-4 text-white bg-gray-700">
    <div class="flex justify-end">
        <button on:click={toggleView} class="bg-purple-500 p-2">View
            {frontView ? 'back' : 'front'}</button>
    </div>

    {#if frontView}
        <div class="flex my-4 justify-around">
            <div class="grid grid-cols-3">
                {#each $coinsStockStore as coin}
                    <button
                        class="w-12 h-8 m-2 box-content bg-blue-500 hover:bg-blue-700"
                        on:click={() => vendingmachine.insertCoin(coin.value)}>
                        <span> {printCoinMoney(coin.value)} </span>
                    </button>
                {/each}
            </div>

            <div
                class="bg-green-500 w-16 flex justify-center text-center rounded-lg">
                <span class="m-auto"> {printMoney($totalInsertedStore)} </span>
            </div>

            <button
                class="bg-blue-500 w-16"
                on:click={() => vendingmachine.refundCoins()}>
                Refund coins
            </button>
        </div>

        <div>
            {#each $productStockStore as product}
                <button
                    class="w-full h-10 my-1 bg-red-500"
                    on:click={() => selectProduct(product.id)}>
                    {product.display}
                    ({printMoney(product.cost)})</button>
            {/each}
        </div>
    {:else}
        <div>
            <label class="my-4">
                Refill stock
                <input
                    class="text-black px-2 w-20"
                    min="0"
                    type="number"
                    bind:value={refillQuantityProduct} />
            </label>
            {#each $productStockStore as product}
                <button
                    disabled={refillQuantityProduct <= 0}
                    class="bg-green-600 h-10 p-2 m-2"
                    on:click={() => {
                        vendingmachine.refillStock(product.id, refillQuantityProduct);
                        refillQuantityProduct = 0;
                    }}>
                    {product.display}
                    ({product.stock})
                </button>
            {/each}
        </div>

        <div>
            <label class="my-4">
                Refill coins
                <input
                    class="text-black px-2 w-20"
                    min="0"
                    type="number"
                    bind:value={refillQuantityCoins} />
            </label>
            {#each $coinsStockStore as coin}
                <button
                    disabled={refillQuantityCoins <= 0}
                    class="bg-green-600 h-10 p-2 m-2"
                    on:click={() => {
                        vendingmachine.refillCoins(coin.value, refillQuantityCoins);
                        refillQuantityCoins = 0;
                    }}>
                    {printCoinMoney(coin.value)}
                    ({coin.stock})
                </button>
            {/each}
        </div>

        {#if $insertedCoinsStore.length}
            <div>
                <p>Currently inserted coins:</p>
                <ul>
                    {#each $insertedCoinsStore as coinValue}
                        <li>{printCoinMoney(coinValue)}</li>
                    {/each}
                </ul>
            </div>
        {/if}
    {/if}
</div>
