<script>
    import Product from "./components/Product.svelte";
    import VendingMachine, {POSSIBLE_COINS} from "./modules/VendingMachine";
    import { randomUpTo } from './utils'

    let productStockInitial = [
        {id: 1, cost: 55, display: "Coke", stock: randomUpTo(20)},
        {id: 2, cost: 55, display: "Light Coke", stock: randomUpTo(20)},
        {id: 3, cost: 55, display: "Sprite", stock: randomUpTo(20)},
        {id: 4, cost: 80, display: "Fanta Lemon", stock: randomUpTo(20)},
        {id: 5, cost: 80, display: "Fanta Orange", stock: randomUpTo(20)},
        {id: 6, cost: 55, display: "Water", stock: randomUpTo(20)},
    ];
    let coinsStockInitial = POSSIBLE_COINS.map(
        (value) => ({value, stock: randomUpTo(20)})
    );
    let purchasedProducts = [];
</script>

<style global lang="postcss">
    @tailwind base;
    @tailwind components;
    @tailwind utilities;
</style>

<div class="m-auto w-full sm:w-1/2 lg:w-1/3">
    <VendingMachine
        {productStockInitial}
        {coinsStockInitial}
        on:error={(event) => alert(event.detail)}
        bind:purchasedProducts />
</div>

{#if purchasedProducts.length}
    <div class="flex flex-col text-center">
        <h3>Purchased products:</h3>
        <hr />

        {#each purchasedProducts as product}
            <Product {product} />
        {/each}
    </div>
{/if}
